.Weather {
  margin: 20px 0;
  color: #42a5f5;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 15px;
}

h1 {
  color: #42a5f5;
  clear: both;
  text-align: center;
}

.submit-btn {
  margin-left: 10px;
}
